<div class="min-h-screen bg-gray-50 flex items-center justify-center">
  <div class="w-full max-w-4xl flex items-center justify-center gap-6">
    <div class="text-center">
      <button
        class="w-48 py-4 px-6 bg-green-900 hover:bg-green-700 text-white rounded-lg font-black transition duration-200 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center space-x-2"
      >
        <span>OBSERVACIONES</span>
      </button>
    </div>
    <div class="text-center">
      <button
        class="w-48 py-4 px-6 bg-green-900 hover:bg-green-700 text-white rounded-lg font-black transition duration-200 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center space-x-2"
      >
        <span>PLAN DE ACCIÓN</span>
      </button>
    </div>
    <div class="text-center">
      <button
        class="w-48 py-4 px-6 bg-green-900 hover:bg-green-700 text-white rounded-lg font-black transition duration-200 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center space-x-2"
      >
        <span>SEGUIMIENTO</span>
      </button>
    </div>
  </div>
  <div class="w-48">
    <app-select-menu></app-select-menu>
  </div>
</div>
